#main{
  margin: 10px 40px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .main-video{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    div{
      display: flex;
      flex-direction: column;
    }
    margin: 20px 0 0 0;
    h1 {
      font-size: 30px;
      width: 720px;
    }

    iframe{
      all: unset;
      width: 720px;
      height: 480px;
    }

    p{
      text-align: justify;
      font-size: 20px;
      margin: 0 0 0 50px;
    }
  }
}


